<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.claw.code-indexer</string>
    <key>ProgramArguments</key>
    <array>
        <string>{{PYTHON_PATH}}</string>
        <string>{{DAEMON_PATH}}</string>
    </array>
    <key>WorkingDirectory</key>
    <string>{{HOME}}</string>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>{{HOME}}/.local/bin:/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin</string>
        <key>HOME</key>
        <string>{{HOME}}</string>
    </dict>
    <key>StandardOutPath</key>
    <string>{{LOG_DIR}}/claw-indexer.log</string>
    <key>StandardErrorPath</key>
    <string>{{LOG_DIR}}/claw-indexer.error.log</string>
</dict>
</plist>
